<p>計算をするので数字を入力してください。</p>
 <%= form_for :batter, url: batters_path do |f| %>
 <p>
  <%= f.label :年度 %><br>
  <%= f.select :team, Batter.teams.keys.to_a, {} %>
 </p>
 <p>
  <%= f.label :hit %><br>
  <%= f.number_field :hit %>
 </p>
 <p><%= f.label :at_bat %><br>
  <%= f.number_field :at_bat %>
 </p>
 <p><%= f.label :batters_box %><br>
  <%= f.number_field :batters_box %>
 </p>
 <p><%= f.label :home_run %><br>
   <%= f.number_field :home_run %>
 </p>
 <p><%= f.label :double %><br>
   <%= f.number_field :double %>
 </p>
 <p><%= f.label :triple %><br>
   <%= f.number_field :triple %>
 </p>
  <p><%= f.label :年度 %><br>
   <%#= f.date_select :year, discard_month:true, start_year: 1950, end_year: 2020 %>
   <%= f.select :year, (2000...2021) %>
 </p>
 <p>
   <%= f.submit %>
 </p>
<% end %>
