<p>結果</p>
打率 = <%= @batting_average %><br>
長打率 = <%= @slugging_percentage %><br>
<br>

打撃能力<br>
弾道 = <%= @ballistic %><br>
ミートカーソル = <%= @meet_cursor %><br>
パワー = <%= @power %><br>
<br>

特殊能力<br>
<%= @average_hitter %><br>
<%= @power_hitter %>